.btn-x {
  font-size: 0.8rem;
  padding: 1.2rem;
  border: none;
  background-color: var(--dark-lighter);
  transition: 0.3s ease-out;
}

.btn-x:hover {
  background-color: var(--dark-lighter-dark);
}

.active {
  background-color: var(--primary);
}

.active:hover {
  background-color: var(--primary-dark);
}
