.nav-link {
  color: var(--primary) !important;
}

.link-body-emphasis span {
  color: var(--dark);
}

.link-body-emphasis:hover span {
  color: var(--dark-light);
}

nav {
  background-color: var(--light);
}
