<div class="border-bottom">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img class="h-50 w-50" src="../../../assets/img/common/logo.svg" alt="">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fw-semibold">
                <li><a href="#" class="nav-link px-2">Get started</a></li>
                <li><a href="#" class="nav-link px-2">Features</a></li>
                <li><a href="#" class="nav-link px-2">Resources</a></li>
                <li><a href="#" class="nav-link px-2">Pricing</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary">Go to home</button>
            </div>
        </header>
    </div>
</div>